/* -----------------------------------------
   Fonts
----------------------------------------- */


@font-face {
    font-family: "DINOTLight";
    src: url("dinot-light-webfont.eot");
    src: url("dinot-light-webfont.eot") format("embedded-opentype"),
    src: url("dinot-light-webfont.woff") format("woff"),
    src: url("dinot-light-webfont.ttf") format("truetype"),
    src: url("dinot-light-webfont.svg") format("svg");
    src: local("dinot-regular-webfont.eot") local("embedded-opentype"),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINOTRegular';
    src: url("dinot-regular-webfont.eot");
    src: url("dinot-regular-webfont.eot") format("embedded-opentype"),
    src: url("dinot-regular-webfont.woff") format("woff"),
    src: url("dinot-regular-webfont.ttf") format("truetype"),
    src:  url("dinot-regular-webfont.svg") format("svg");
    src: local("dinot-regular-webfont.eot") local("embedded-opentype"),
    font-weight: normal;
    font-style: normal;

}