.content-slider2 {
    padding-bottom: 20px;
    position: relative;
    height: 445px;
    background: none !important;
}
.content-slider2 li, .home-portfolio ul {
    background: none !important;
}
.slider2 {
    margin-top: 40px;
    position: relative;
}
.slider2-intro {
    margin-right: 45px;
    width: 255px;
    margin-top: 20px;
}
.slider2-intro-right {
    margin-left: 45px !important;
    width: 275px;
    margin-top: 20px;
}
#slider2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 428px;
}
#slider2-thumbs {
    position: relative;
    margin-bottom: 465px;
}
.slider2-nav, .slider2-nav-thumbs, .slider2-nav-wide {
background: #616d7b;
background: -webkit-gradient(linear, left top, left bottom, from(rgb(97, 109, 123)),to(rgb(72, 79, 91)));
background: -webkit-linear-gradient(top, rgb(97, 109, 123), rgb(72, 79, 91));
background: -moz-linear-gradient(top, rgb(97, 109, 123), rgb(72, 79, 91));
background: -o-linear-gradient(top, rgb(97, 109, 123), rgb(72, 79, 91));
background: -ms-linear-gradient(top, rgb(97, 109, 123), rgb(72, 79, 91));
background: linear-gradient(top, rgb(97, 109, 123), rgb(72, 79, 91));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#616d7b', EndColorStr='#484f5b');
   
    text-align: center;
    border: 1px solid #1f1f1f;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    z-index: 2;
    bottom: -410px;
    left: 0;
    width: 700px;
}
.slider2-nav-thumbs {
    bottom: -426px;
}
.slider2-nav-wide, .slider2-nav-wide-thumbs {
    width: 938px;
}
.slider2-nav li, .slider2-nav-thumbs li, .slider2-nav-wide li {
    float: left;
    padding: 20px 0;
}
.slider2-nav a, .slider2-nav-thumbs a, .slider2-nav-wide a {
    color: #ffffff;
    font-size: 13px;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
    margin-left: 15px;
    padding-left: 15px;
    font-weight: bold;
    -moz-transition:color 0.3s ease-in;
    -webkit-transition:color 0.3s ease-in;
    transition:color 0.3s ease-in;
}
.slider2-nav a:hover, .slider2-nav-thumbs a:hover, .slider2-nav-wide a:hover {
    text-decoration: none;
    color: #fff;
}
.slider2-nav-wide-thumbs a {
    padding-left: 8px !important;
}
.slider2-nav-thumbs a {
    opacity: 0.3;
    padding-left: 6px;
    -moz-transition:opacity 0.3s ease-in;
    -webkit-transition:opacity 0.3s ease-in;
    transition:opacity 0.3s ease-in;
}
.slider2-nav-thumbs a:hover {
    opacity: 1;
}
.slider2-nav-thumbs a img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 4px solid #fff;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.5);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.5);
}
.slider2-nav-thumbs .activeSlide2 a {
    position: relative;
    opacity: 1;
}
.slider2-nav .activeSlide2 a, .slider2-nav-wide .activeSlide2 a {
    font-size: 13px;
    background: rgb(36,39,40); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(36,39,40,1) 1%, rgba(40,43,44,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(36,39,40,1)), color-stop(100%,rgba(40,43,44,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(36,39,40,1) 1%,rgba(40,43,44,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top,  rgba(36,39,40,1) 1%,rgba(40,43,44,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(36,39,40,1) 1%,rgba(40,43,44,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(36,39,40,1) 1%,rgba(40,43,44,1) 100%); /* W3C */
    
    color: #cecece !important;
    padding: 6px 17px;
    margin-left: 30px;
    position: relative;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-border-radius: 99px 99px 99px 99px;
    border-radius: 99px 99px 99px 99px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.slider2-nav-thumbs .activeSlide2 a:before {
    content: url("../img/slider-nav-arrow.png");
    left: 40%;
    position: absolute;
    top: -71px;
}
.activeSlide2 a:before {
    content: url("../img/slider-nav-arrow.png");
    left: 40%;
    position: absolute;
    top: -26px;
}
.imagess, .imagess-thumb, .imagess-wide, .imagess-wide-thumb {
    margin-bottom: -2px;
    -moz-box-shadow: 0 3px 1px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 3px 1px rgba(0,0,0, 0.3);
    box-shadow: 0 3px 1px rgba(0,0,0, 0.3);
    width: 700px;
    height: 375px;
    position: absolute;
    z-index: 1;
}
.imagess img, .imagess-thumb img, .imagess-wide img, .imagess-wide-thumb imgs {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    width: 700px;
}