/** http://docs.sublimevideo.net/put-video-in-a-floating-lightbox **/
/*
* Don't use this code if you don't want the magnifying glass icon
* The icon can be found here: http://f.cl.ly/items/3C1V2w2r36360V3c1b3x/sv_zoom_icon.png
*/

a.zoomable {
  display:block;
  width:241px;
  height:147px;
  position:relative;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 2px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 2px;
  box-shadow:rgba(0,0,0,0.4) 0 4px 2px;
  margin-bottom: 25px;
}

a.zoomable span.zoom_icon {
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:30;
  background:url(img/sv_zoom_icon.png) no-repeat bottom right;
  opacity:0.3;
  -o-transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
  transition:opacity 0.25s;
}

a.zoomable:hover span.zoom_icon {opacity:1}



