/* 
* You probably want to set the same width and height
* that you have set to your <video> elements.
*/

#videos {
  width:700px;
  margin:auto;
}
#videos video {
  margin: 10px 0;
}

.playlist .video_wrap{
  width:700px;
  height:430px;
  margin:0 auto 20px auto;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  display:none;
}
.playlist .video_wrap.active{
  display:block;
}
.playlist ul{
  width:700x;
  list-style-type:none;
  overflow:hidden;
  margin:30px auto;
  -webkit-padding-start:0;
}
.playlist li{
  float:left;
  display:block;
  width:177px;
  height:108px;
  margin-top:80px;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:30px;
  padding:5px;
  background:#fff;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  box-shadow:rgba(0,0,0,0.4) 0 2px 5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:4px;
}
.playlist li.last_thumbnail{
  margin-right:20;
}
.playlist li.active{
  background:#000;
}
.playlist li a{
  display:block;
}
.playlist li img{
  opacity:.7;
  -o-transition:opacity .25s;
  -moz-transition:opacity .25s;
  -webkit-transition:opacity .25s;
  transition:opacity .25s;
}
.playlist li a:hover img, .playlist li.active img{
  opacity:1;
}
