<%@ Master Language="VB" CodeFile="AllMasterPage.master.vb" Inherits="AllMasterPage" %>
<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>DIDL Jumpstart</title>
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <link href="css/base.css" rel="stylesheet" type="text/css" />
    <link href="css/colorbox.css" rel="stylesheet" type="text/css" />
    <link href="css/elfinder.css" rel="stylesheet" type="text/css" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="css/ie.css" rel="stylesheet" type="text/css" />
    <link href="css/playlist.css" rel="stylesheet" type="text/css" />
    <link href="css/quiz-styles.css" rel="stylesheet" type="text/css" />
    <link href="css/slider.css" rel="stylesheet" type="text/css" />
    <link href="css/sublimevideo_lightbox.css" rel="stylesheet" type="text/css" />
    <meta name="google-site-verification" content="TV0q40L6lZuTnO_W9uezLPe-lH8-2LBT9AM43KFhQiA" />
</head>
<body class="files study">
    <!-- #include file="include/header.inc" -->
    <!-- #include file="include/top-navigation.inc" -->

    <form id="form1" runat="server">
    <div class="container">
        <div class="row">
            <!-- Begin Sidebar -->
            <!-- #include file="include/nav-sidebar.inc" -->
            <!--! end of Sidebar -->
            
            <!-- Sticky Nav -->
			<ul id="navigationMenu">
			    <li>
				    <a id="ToC" class="inline cboxElement stickyToC" href="#inline_content">&#x2637;
			            <span>Table of Contents</span>
			        </a>
			    </li>
			    <li>
			    	<a class="stickyNext" href="#">&#x276F;
			            <span>Next</span>
			        </a>
			    </li>
			    <li>
				     <a class="stickyPrev" href="#">&#x276E;
			            <span>Previous</span>
			         </a>
			    </li>
			    <li id ="back-top">
				     <a class="stickyTop" href="#">&#x2B06; 
			            <span>To the Top</span>
			         </a>
			    </li>
			</ul>
			<!-- End of Sticky Nav -->
            <div class="row">
                <!-- Begin Container -->
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    </form>
    <!-- Bottom Paging Section -->
    <!-- Begin Table of Contents Menu -->
    <!-- #include file="include/toc-file.inc" -->
    <!-- End of Table of Contents Menu -->
    <!-- Run the plugin -->
    <div class="nine columns large" id="mainContent">
        <!-- Begin Section Header -->
        <div class="row">
            <div class="eight columns">
                
            </div>
            <!-- Begin Drop Down Table of Contents Menu -->
            <!-- "include file="include/toc-dd-computer-basics.inc" -->
            <!-- End of Drop Down Table of Contents Menu -->
            
            <!-- end of Section Header -->
            <!-- Begin Section Title -->
            <div class="row">
                <div class="twelve columns">
                    <div class="pageHeader">
                        <h4>
                            Introduction</h4>
                        <h2>
                            Computer Basics</h2>
                    </div>
                </div>
            </div>
            <!--! end of Section Title -->
            
            <!-- Bottom Paging Section -->
            <div class="row centered">
                <div class="twelve columns">
                    <div class="pageFooter">
                        <span class="buttonRadius right"><a href="#" class="nice small radius green button">
                            Let's Begin &#x276F;</a></span>
                 </div>
                </div>
            </div>
            <!--! end of Bottom Paging Section -->
        </div>
        <!--! end Main Conent -->
    </div>
    
    <!-- end of container -->
    
    <!-- Begin Table of Contents Menu -->
    <!-- #include file="include/toc-comp.inc" -->
    <!-- End of Table of Contents Menu -->

    <script type="text/javascript">
        $(window).load(function() {
            $(this).joyride();
        });
    </script>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-xxxxxx-x");
            pageTracker._trackPageview();
        } catch (err) { } 
    </script>

</body>
</html>
